
/* universal styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/*body styling*/

body {
    background-color: #838383;
    main {
        p {
        font-size: 16px;
        }
    }
}  
    

    /*header styling */

    .header {
        padding: 20px;
        margin-bottom: 20px;
        background-color: #0b374d;
        color: #07d4db;
    }

        /*navigation links styling */
    
        .navigation-links  {
            margin-right: 15px;
            float: right;
            font-size: 20px;
        }

        .navigation-links ul li {
            /* display:   */          
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 25px; 
            flex-shrink: 1;
            justify-content: flex-end;
            align-items: center;   
        }

        a {
            color: #ffffff;
            text-decoration: none;
         }
    

    
    /*content styling */

    .header h1 {
        display: inline-block;
        font-size: 48px;
    }

    .content {
        width: 100%;
        align-content: center;
        /* color: rgb(3, 0, 187); */
    }

    
        .projects h2 {
            text-align: center;
            } 
        .container {
            width: 100%;
            color: #ffffff;
            display: flex;
            text-align: center;  
            background-color: #0072bb;
            display: flexbox; 
            justify-content: space-around;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;} 
       
     
    .horiseon-landing-page {
        display: flexbox;
        flex-grow: 1;
        flex-shrink: 1;
        position: relative;
    }

    .coming-soon-1 {
        display: flexbox;
         flex-grow: 2;
        flex-shrink: 2;
        max-height: 175px;
        max-width: 175px;
       
    }

    .coming-soon-2 {
        display: flexbox;
        flex: grow 2; 
       flex-shrink: 2;
       max-height: 175px;
      max-width: 175px;
      
    }
    
            

    /* image styling */
       
        /* content images stylings */
        .about-me img, .projects img, .contact img {
                max-height: 200px;
                flex-shrink: 1;
                flex-grow: 1;
        }



        .profile-pic {
            float: left;
            margin-right: 25px;
            flex-wrap: wrap-reverse;
            flex-shrink: 1;
            flex-grow: 1;
            

        }

        .float-right {
            float: right;
            margin-left: 25px;
            max-height: 175px;
            max-width: 175px;
            flex-shrink: 1;
         }

    
     .about-me {
        flex: auto;
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
        }
     
     .projects{
        flex: auto;
        margin-bottom: 20px;
        padding: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
        }

/*footer styling */

.footer {
    background-color: #0b374d;
    color: #07d4db
    padding: 5px;
    display: flex; justify-content: space-evenly;
    flex-wrap: wrap; 
}
 
.footer h4 {
         color: #07d4db;
         display: flex; justify-content: space-evenly; column-gap: 25px; row-gap: 10px;
       
    }
   
@media (max-width: 600px) {

}